#test {
  margin-top: 15px;
  
}

.basicFlex {
  display: inline-flex;
  flex-wrap: wrap;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid black;
  align-items: center;
  width:100%;
  
}

#logo, 
#myTimes {
}

#logo {
  margin: 10px 20px;
}

#myTimes {
  color: aquamarine;
  font-size: 14px;
}

.navLink {
  display: inline-block;
  text-align: right;
}