#test {
  margin-top: 15px;
  
}

.basicFlex {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid black;
}

#logo, 
#myTimes {
  justify-content: flex-start;
}

#logo {
  margin: 10px 20px;
}

#myTimes {
  color: aquamarine;
  font-size: 14px;
  margin: auto 0px;
}